
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">

<!--<%= stylesheet_link_tag "js/app.css", :plugin => 'redmine_super_gantt' %>-->
<h2>SuperGanttController#index</h2>
<div id="app"></div>

<%= javascript_include_tag "js/app.js", :plugin => 'redmine_super_gantt'%>
<%= javascript_include_tag "js/chunk-vendors.js", :plugin => 'redmine_super_gantt'%>

